<div class="container">
  <h2>
    Seleccione un aula para cada dia de la reserva. (La fecha se expresa en
    formato AAAA/MM/DD)
  </h2>
  <div class="tabla" *ngFor="let dia of aulasData">
    <table>
      <thead>
        <tr>
          <th>Aula</th>
          <th>Ubicacion</th>
          <th>Capacidad</th>
          <th>
            {{ dia.dia.split("T")[0] }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let aula of dia.aulasDisponibles; let i = index"
          [class.impar]="i % 2 == 0"
        >
          <td>{{ aula.numero }}</td>
          <td>Piso: {{ aula.piso }}</td>
          <td>{{ aula.capacidad }}</td>
          <td>
            <input
              [(ngModel)]="seleccionPorDia[dia.dia]"
              [value]="aula"
              name="seleccion_{{ dia.dia }}"
              type="radio"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons">
    <button class="boton-confirmar" (click)="registrarReserva()">
      Registrar reserva
    </button>
    <button class="boton-cancelar-gris" (click)="cancelar()">Cancelar</button>
  </div>
</div>
