<form [formGroup]="tipoReservaForm">
  <div class="container">
    <div class="contenedor-tipo-reserva">
      <div class="form-group">
        <label for="tipo-reserva">Tipo de Reserva</label>
        <select
          id="tipo-reserva"
          formControlName="tipoReserva"
          class="form-control"
        >
          <option>Periódica</option>
          <option>Esporádica</option>
        </select>
      </div>

      <div class="form-group">
        <label for="duracion">Duración</label>
        <select id="duracion" formControlName="duracion" class="form-control">
          <option>1er Cuatrimestre</option>
          <option>2do Cuatrimestre</option>
          <option>Anual</option>
        </select>
      </div>
    </div>

    <div formArrayName="dias">
      <div
        *ngFor="let dia of diasFormArray.controls; let i = index"
        [formGroupName]="i"
        class="contenedor-dias"
      >
        <label
          class="label-dia"
          [ngClass]="{ selected: dia.get('habilitado')?.value }"
        >
          <input
            type="checkbox"
            formControlName="habilitado"
            (change)="toggleDia(i)"
          />
          {{ days[i] }}
        </label>
        <div *ngIf="dia.get('habilitado')?.value">
          Desde*
          <input
            type="time"
            formControlName="horaInicio"
            [placeholder]="'Hora Inicio'"
          />
          Hasta*
          <input
            type="time"
            formControlName="horaFin"
            [placeholder]="'Hora Fin'"
          />
        </div>
      </div>
    </div>

    <div class="button-group">
      <button class="boton-volver" (click)="goBack()">Volver</button>
      <button
        class="boton-continuar"
        (click)="next()"
        [disabled]="tipoReservaForm.invalid"
      >
        Siguiente
      </button>
      <button
        class="boton-cancelar"
        style="background: #3b4758"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
  </div>
</form>
