.container {
  padding: 20px;
  border-radius: 10px;
  width: 700px;
  height: fit-content;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.label-dia {
  background: #3B4758;
  width: 175px;
  height: 59px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.selected{
  background: #007bff;
}

.contenedor-dias {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.label-dia input[type="checkbox"] {
  display: none;
}

.contenedor-tipo-reserva{
  gap: 50px;
  display: flex;
  margin-bottom: 20px;
}
  
.form-control, .form-control-time, select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
  
.seleccion-dia {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-self: flex-start;
}
  
.seleccion-dia div {
  background-color: #555;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
  
.seleccion-dia div.active {
  background-color: #007bff;
}

.seleccion-tiempo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.form-control-time {
  width: 80px;
  background-color: #3a3a3a;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  align-self: flex-end;
}