@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: #232b37;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.titulo{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitulo {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

label {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 5px;
}

input, select {
    background-color: #3B4758;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    padding-left: 10px;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    height: 40px;
    color: #FFF;
    width: 40%;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;
}

.boton-confirmar{
    background: #0077E4;
}

.boton-cancelar {
    background: #CD281E;
}

.error {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #CD281E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.material-icons {
    font-size: 20px;
    font-weight: 300;
}

.boton-continuar {
    width: 100px;
    background-color: #0077E4;
}


.boton-volver {
    width: 100px;
    background-color: #28445F;
}

.boton-cancelar-gris {
    width: 100px;
    background-color: #3B4758;
}

.activo {
    background-color: #0077E4;
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
