<div class="container">
  <div
    *ngIf="isAdmin"
    class="circle-container"
    [ngClass]="{ selected: isSelected(0) }"
    (mouseenter)="hoverCircle(0)"
    (click)="redirigir()"
  >
    <div class="option-circle">
      <div>
        <mat-icon class="material-icons">person_add</mat-icon>
      </div>
    </div>
    <p class="subtitulo">Agregar Bedel</p>
  </div>
  <div
    *ngIf="isAdmin"
    class="circle-container"
    [ngClass]="{ selected: isSelected(1) }"
    (mouseenter)="hoverCircle(1)"
    (click)="redirigir()"
  >
    <div class="option-circle">
      <div>
        <mat-icon class="material-icons">person_search</mat-icon>
      </div>
    </div>
    <p class="subtitulo">Buscar Bedel</p>
  </div>
  <div
    *ngIf="!isAdmin"
    class="circle-container"
    [ngClass]="{ selected: isSelected(2) }"
    (mouseenter)="hoverCircle(2)"
    (click)="redirigir()"
  >
    <div class="option-circle">
      <div>
        <span class="material-symbols-outlined">calendar_month</span>
      </div>
    </div>
    <p class="subtitulo">Generar Reserva</p>
  </div>
</div>
