<div class="container">
  <form
    [formGroup]="datosComision"
    novalidate
    (ngSubmit)="submitDatosComision()"
  >
    <div class="formulario-1">
      <div class="fila-input">
        <div class="input-container">
          <label>Cantidad de Alumnos*</label>
          <input type="number" required formControlName="cantidadAlumnos" min="1"/>
        </div>
        <div class="input-container">
          <label>Tipo de Aula*</label>
          <select formControlName="tipoAula">
            <option value="3">Común</option>
            <option value="1">Informatica</option>
            <option value="2">Multimedio</option>
          </select>
        </div>
      </div>

      <div class="fila-input">
        <div class="input-container">
          <label>Nombre*</label>
          <input
            appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
            type="text"
            required
            formControlName="nombre"
            maxlength="127"
          />
        </div>
        <div class="input-container">
          <label>Apellido*</label>
          <input
            appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
            type="text"
            required
            formControlName="apellido"
            maxlength="127"
          />
        </div>
      </div>

      <div class="fila-input">
        <div class="input-container">
          <label>Catedra*</label>
          <input
            appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
            type="text"
            required
            formControlName="catedra"
            maxlength="127"
          />
        </div>
        <div class="input-container">
          <label>Comision*</label>
          <input
            appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
            type="text"
            required
            formControlName="comision"
            maxlength="127"
          />
        </div>
      </div>
      <div class="input-container">
        <label>Correo*</label>
        <input type="text" required formControlName="email" />
      </div>
      <div class="contenedor-botones">
        <button
          type="submit"
          [disabled]="datosComision.invalid"
          class="boton-continuar"
        >
          Continuar
        </button>
        <button class="boton-cancelar-gris" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
