<div class="container">
  <form
    [formGroup]="datosReserva"
    novalidate
    (ngSubmit)="submitTipoReserva($event, calendario)"
  >
    <div class="formulario-1">
      <div class="contenedor-central">
        <div class="contenedor-izquierda">
          <select formControlName="tipoReserva" required>
            <option value="esporadica">Esporadica</option>
            <option value="periodica">Periodica</option>
          </select>

          <calendar-date #calendario [isDateDisallowed]="desactivarFechas">
            <calendar-month
              (click)="chequearFormulario(calendario)"
            ></calendar-month>
            <svg
              aria-label="Previous"
              slot="previous"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
            <svg
              aria-label="Next"
              slot="next"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
            </svg>
          </calendar-date>
        </div>

        <div class="contenedor-derecha">
          <div class="time-input-container">
            <label>Desde*:</label>
            <input
              type="time"
              class="hora-comienzo"
              formControlName="comienzoReserva"
              required
            />
            <p class="error" *ngIf="multiploDe30ErrorDesde">
              La hora debe ser multiplo de 30 minutos
            </p>
          </div>
          <div class="time-input-container">
            <label>Hasta*:</label>
            <input
              type="time"
              class="hora-fin"
              formControlName="finReserva"
              required
            />
            <p class="error" *ngIf="multiploDe30ErrorHasta">
              La hora debe ser multiplo de 30 minutos
            </p>
          </div>
        </div>
      </div>

      <div class="contenedor-botones">
        <button class="boton-volver" (click)="volver()">Volver</button>
        <button
          type="submit"
          [disabled]="datosReserva.invalid"
          class="boton-continuar"
        >
          Continuar
        </button>
        <button class="boton-cancelar-gris" (click)="volverHome()">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
