<div class="container">
  <form (ngSubmit)="submitTipoReserva($event)">
    <div class="contenedor-central">
      <div class="contenedor-izquierda">
        <select name="tipo-reserva">
          <option value="esporadica">Esporadica</option>
          <option value="periodica">Periodica</option>
        </select>

        <calendar-date #calendar>
          <calendar-month></calendar-month>
          <svg
            aria-label="Previous"
            slot="previous"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
          <svg
            aria-label="Next"
            slot="next"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
          </svg>
        </calendar-date>
      </div>

      <div class="contenedor-derecha">
        <div class="time-input-container">
          <label>Desde*:</label>
          <input type="time" class="hora-comienzo" />
        </div>
        <div class="time-input-container">
          <label>Hasta*:</label>
          <input type="time" class="hora-fin" />
        </div>
      </div>
    </div>

    <div class="contenedor-botones">
      <button type="submit" class="boton-volver">Volver</button>
      <button type="submit" class="boton-continuar no-activo">Continuar</button>
      <button class="boton-cancelar-gris">Cancelar</button>
    </div>
  </form>
</div>
