.container {
    display: flex;
    width: 915px;
    height: 750px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.formulario-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
}

.fila-input {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 0 30px;
}

.contenedor-central {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.contenedor-izquierda {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    gap: 50px;
}

.contenedor-derecha {
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    gap: 20px;
    max-height: 550px;
}

::-webkit-scrollbar{
    background-color: #161B21;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0077E4;
}

calendar-multi {
    &::part(heading) {
        font-size: 24px;
        font-weight: bold;
    }
    &::part(button) {
        border: none;
        background-color: transparent;
        width: 26px;
        height: 26px;
    }
    background-color: #3B4758;
    padding: 20px;
    border-radius: 16px;
    color: white;
    font-family: 'Inter';
    text-transform: capitalize;
}

calendar-month {
    &::part(heading) {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        bottom: 37px;
        right: -75px;
        text-align: left;
        width: fit-content;
    }
    &::part(td){
        margin: 0;
        padding: 0;
    }
    &::part(button){
        border: 1px solid gray;
        margin: -1px -1px 0 0;
        padding: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &::part(selected){
        background-color: #0077E4;
        color: white;
    }
}

calendar-multi svg {
    fill: white;
    width: 30px;
}

calendar-multi svg:hover {
    fill: #FFC107;
}

calendar-multi svg[slot="previous"] {
    left: 386px;
    position: relative;
}

.card{
    h4{
        margin:0
    }
    .dia-card{
        width: 100%;
        margin:0;
        background-color: #161B21;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

    }
    .time-container{
        display: flex;
        flex-direction: column;
        padding:5px;
        gap:5px;
    }

    background-color: #3B4758;
    
    border-radius: 5px;
    color:white;
    gap:5px;
}

.time-input-container {
    label{
        color:white;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


input[type="time"] {
    width: 100%;
    background-color: #161B21;
    color: white;
}

.contenedor-botones {
    width: 350px;
    align-self: flex-end;
}

.contenedor-botones button {
    font-size: 14px;
    font-weight: normal;
}

button:disabled {
    background-color: #2D3339 !important;
    cursor: not-allowed !important;
}