<div *ngIf="mostrarFormulario" class="container container-form">
  <form (ngSubmit)="registrarBedelSubmit($event)">
    <p class="titulo">Registrar Bedel</p>
    <div class="contenedor-nombre">
      <div class="contenedor-input">
        <label for="nombre">Nombre</label>
        <input
          appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
          type="text"
          name="nombre"
          [(ngModel)]="bedelData.nombre"
          required
          #primerInput
        />
        <span class="error" *ngIf="nombreError">
          <span class="material-icons">error</span>
          <span class="mensaje-error">Ingrese Nombre</span>
        </span>
      </div>
      <div class="contenedor-input">
        <label for="apellido">Apellido</label>
        <input
          appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s"
          type="text"
          name="apellido"
          [(ngModel)]="bedelData.apellido"
          required
        />
        <span class="error" *ngIf="apellidoError">
          <span class="material-icons">error</span>
          <span class="mensaje-error">Ingrese Apellido</span>
        </span>
      </div>
    </div>
    <div class="contenedor-input">
      <label for="turno">Turno</label>
      <select name="turno" [(ngModel)]="bedelData.turno">
        <option value="maniana">Mañana</option>
        <option value="tarde">Tarde</option>
        <option value="noche">Noche</option>
      </select>
      <span class="error" *ngIf="turnoError">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Ingrese un Turno</span>
      </span>
    </div>

    <div class="contenedor-input">
      <label for="id-usuario">Identificación De Usuario*</label>
      <input
        appRestrictCharacters="a-zA-Z0-9áéíóúÁÉÍÓÚñÑ"
        type="text"
        name="id-usuario"
        [(ngModel)]="bedelData.usuario"
        required
      />
      <span class="error" *ngIf="usuarioError">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Ingrese un usuario</span>
      </span>
      <span class="error" *ngIf="usuarioExistente">
        <span class="material-icons">error</span>
        <span class="mensaje-error">El usuario ya existe</span>
      </span>
    </div>
    <div class="contenedor-input">
      <label for="contrasenia">Contraseña*</label>
      <input
        type="password"
        name="contrasenia"
        [(ngModel)]="bedelData.contrasenia"
        required
      />
      <span class="error" *ngIf="contraseniaIncorrecta">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Formato inválido. 8-20 caracteres.</span>
      </span>
    </div>
    <div class="contenedor-input">
      <label for="confirmar-contrasenia">Confirmar Contraseña*</label>
      <input
        type="password"
        name="confirmar-contrasenia"
        [(ngModel)]="bedelData.confirmarContrasenia"
        required
      />
      <span class="error" *ngIf="confirmarContrasenia">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Las contraseñas no coinciden</span>
      </span>
    </div>
    <div class="contenedor-botones">
      <button type="submit" class="boton-confirmar">Registrar</button>
      <button
        type="button"
        class="boton-cancelar"
        (click)="mostrarPopupCancelacion()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>

<div *ngIf="mostrarPopup" class="container container-popup">
  <p class="titulo">¿Desea cancelar el registro?</p>
  <div class="botones-popup">
    <button (click)="volver()" class="boton-confirmar popup-boton">
      Volver
    </button>
    <button (click)="confirmarCancelacion()" class="boton-cancelar popup-boton">
      Cancelar Registro
    </button>
  </div>
</div>
