<div class="container">
  <form (ngSubmit)="registrarBedelSubmit($event)">
    <p class="titulo">Registrar Bedel</p>
    <div class="contenedor-nombre">
      <div class="contenedor-input">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" [(ngModel)]="bedelData.nombre" required />
      </div>
      <div class="contenedor-input">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" [(ngModel)]="bedelData.apellido" required />
      </div>
    </div>
    <div class="contenedor-input">
      <label for="turno">Turno</label>
      <select name="turno" [(ngModel)]="bedelData.turno" required>
        <option value="maniana">Mañana</option>
        <option value="tarde">Tarde</option>
        <option value="noche">Noche</option>
      </select>
    </div>

    <div class="contenedor-input">
      <label for="id-usuario">Identificación De Usuario*</label>
      <input type="text" name="id-usuario" [(ngModel)]="bedelData.usuario" required />
      <span class="error" *ngIf="usuarioExistente">
        <span class="material-icons">error</span>
        <span class="mensaje-error">El usuario ya existe</span>
      </span>
    </div>
    <div class="contenedor-input">
      <label for="contrasenia">Contraseña*</label>
      <input type="password" name="contrasenia" [(ngModel)]="bedelData.contrasenia" required />
      <span class="error" *ngIf="contraseniaIncorrecta">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Formato inválido. 8-20 caracteres, al menos un número, mayúscula y minúscula</span>
      </span>
    </div>
    <div class="contenedor-input">
      <label for="confirmar-contrasenia">Confirmar Contraseña*</label>
      <input type="password" name="confirmar-contrasenia" [(ngModel)]="bedelData.confirmarContrasenia" required />
      <span class="error" *ngIf="confirmarContrasenia">
        <span class="material-icons">error</span>
        <span class="mensaje-error">Las contraseñas no coinciden</span>
      </span>
    </div>
    <div class="contenedor-botones">
      <button type="submit" class="boton-confirmar">Registrar</button>
      <button type="button" class="boton-cancelar" (click)="cancelarRegistro()">Cancelar</button>
    </div>
  </form>
</div>
