.container-form{
    width: 625px;
    height: 750px;
}

.container-popup {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-popup p {
    align-self: flex-start;
    margin-top: 10px;
    font-size: 32px;
}

.botones-popup{
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.popup-boton {
    width: fit-content;
    padding: 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor-nombre {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedor-input{
    display: flex;
    flex-direction: column;
}

.contenedor-botones {
    margin-top: 20px;
}