<div class="container">
  <p class="titulo">Registrar Reserva</p>
  <form [formGroup]="tipoReserva" (ngSubmit)="submitTipoReserva()">
    <div class="input-container">
      <label for="tipo-reserva">Tipo de Reserva</label>
      <select formControlName="tipoReserva" name="tipo-reserva">
        <option value="esporadica">Esporádica</option>
        <option value="periodica">Periódica</option>
      </select>
    </div>
    <div class="botones">
      <button class="boton-continuar">Continuar</button>
      <button type="button" class="boton-cancelar" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
